.one {

    background-color: royalblue; 
}
.two {


    background-color: limegreen;
}

.three {

    background-color: blanchedalmond;
}

.img-dat {

    width: 300px;
}
.img-dev {

width: 300px;
}

.img-thrift {

    width: 300px;
}
.img-anime {

    width: 300px;
}
.Edu {
background-color: cornflowerblue;
}
.skill {
background-color: burlywood;
}
.personal {
    background-color: darkblue;
}
.web {
    background-color: aquamarine;
}
.intropg {
    background-color: darkorange;
}
.navigate {
    background-color: royalblue;
}
.abtme {
    background-color: darkorange;
}
.onetwo {
background-color: rgb(0, 195, 255);

}
.contactheader {

background-color: cyan;
}